@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* agora que avançamos mais no conteudo, podemos retirar o height 100vh, pois o conteudo da pagina pode ultrapassar a altura da tela. */
    /* height: 100vh; */
    box-sizing: border-box;
    /* o box-sizing: border-box; faz com que o padding e a borda sejam incluídos na largura e altura totais do elemento.  */
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

/*
img {
    width: 35%;
    border-radius: 30px;
}
*/

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

}

.apresentacao__links__link:hover {
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
    background-color: #272727;
}

.apresentacao_imagem-principal:hover {
    transform: scale(1.01);
    transition: all 0.7s ease-in-out;
}

.rodape {
    padding: 24px;
    text-align: center;
    background-color: #22D4FD;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;

}